<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>EJS é maravilhoso!</h1>
            <p>*-*</p>
        </div>

        <h2>Loop</h2>
        <table class="table table-bordered">
            <tbody>
            <% bebidas.forEach(function(bebida){ %>
                <tr>
                    <td><%= bebida.name %></td>
                    <td><%= bebida.drunkness %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>